.Header{
    min-height: 50px;
    background-color: chocolate;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Header a{
    text-decoration: none;
    color: black;
    font-size: 25px;

}

.Header a[class="active"]{
    color: blue;
}